Name: Amanda Baker

AndrewID: adbaker

## Part 1: Pivot Tables
Create a pivot table from the Expeditions.xls data using Pandas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

UseGitHub = True
if UseGitHub:
    prefix = 'https://raw.githubusercontent.com/ProfRaja/67364/master/data/a2/'
else:
    prefix = ''
    
expeditions_xls = prefix+'Expeditions.xls'
titles_csv = prefix + 'titles.csv'
cast_csv = prefix + 'cast_4_1960.csv'
release_dates_csv = prefix + 'release_dates.csv'

In [2]:
expeditions_df = pd.ExcelFile(expeditions_xls).parse('exped')
exp_loc_pvt = expeditions_df.pivot_table(index = 'WHERE', columns = 'HOW', values = 'REVENUE', aggfunc = np.sum,
                                                                          margins = True, margins_name = 'Total') 
exp_loc_pvt

HOW       Catalog   Store    Web   Total
WHERE
London      50310  151015  13009  214334
New York     8712   28060   2351   39123
Paris       32166  104083   7054  143303
Sydney       5471   21769   2749   29989
Tokyo       12103   42610   2003   56716
Total      108762  347537  27166  483465